.menu_bar {
    display:none;
}

header {
    width: 100%;
}

header nav {
    font-family:Calibri,Arial;
    background:#FFF;
    z-index:1000;
    max-width: 1000px;
    width:95%;
    margin:20px auto;
}

header nav ul {
    list-style:none;
}

header nav ul li {
    display:inline-block;
    position: relative;
}

header nav ul li:hover {
    text-decoration: none;
    color:#ff5d56 !important;
}

header nav ul li a:hover {
    text-decoration: none;
    color:#ff5d56 !important;
}

header nav ul li a:active{
    text-decoration: none;
}

header nav ul li a {
    text-transform:uppercase;
    color:#caccce;
    display:block;
    font-family: 'JosefinSans-Regular';
    font-weight:600;
    font-size:15px;
    text-decoration: none;
    padding: 17px;
    transition:color .4s ease-in-out;
}

header nav ul li a:hover {
    text-decoration: none;
}

header nav ul li a span {
    margin-right:10px;
}

header nav ul li:hover .children {
    display:block;
}

header nav ul li .children {
    display: none;
    background:#fff;
    position: absolute;
    width: 150%;
    z-index:1000;
}

header nav ul li .children li {
    display:block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .children{
    box-shadow: 3px 1px 2px #caccce;

}

header nav ul li .children li a {
    color:#181b2a;
    display: block;
}

header nav ul li .children li a:hover {
    text-decoration:none;
    color:#ff5d56;
    display: block;
}



header nav ul li .children li a span {
    float: right;
    position: relative;
    top:3px;
    margin-right:0;
    margin-left:10px;
}

header nav ul li .prueba {
    position: relative;
    top:-3px;
    margin-left:5px;
    margin-right:0px;
}

header nav{
    text-align: center;
}

header nav .Temporalesmenu{
    display: none;
}

@media screen and (max-width: 728px) {
    body {
        padding-top:80px;
    }

    header nav{
        text-align: left;
    }

    .logoFinal{
        display: none;
    }
    .top_bg{
        display: none;
    }

    .menu_bar {
        display:block;
        width:100%;
        position: fixed;
        top:0;
        z-index: 500;
        background:#E6344A;
    }

    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        color: #fff;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }

    .menu_bar span {
        float: right;
        font-size: 40px;
    }

    header nav {
        width: 80%;
        height: calc(100% - 80px);
        position: fixed;
        right:100%;
        margin: 0;
        overflow: scroll;
    }

    header nav ul li {
        display: block;
        border-bottom:1px solid rgba(255,255,255,.5);
    }

    header nav ul li a {
        display: block;
        text-decoration: none;
    }

    header nav ul li:hover .children {
        display: none;
    }

    header nav ul li .children {
        width: 100%;
        position: relative;
    }

    header nav ul li .children li a {
        margin-left:20px;
    }

    header nav ul li .children li a:active {
       text-decoration: none;
    }

    header nav ul li .prueba {
        float: right;
    }
    header nav .Temporalesmenu{
        display: block;
    }
}